<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>
<body>
  <h1>Mon titre</h1>
  <!-- -->
  <p>Mon identifiant : {{userid}}</p>
  <ul>
  {% for pers in liste %}
      <li>
          {{pers.nom}} -- {{pers.email}} 
          <a class="btn btn-primary" href="/profile/{{pers.id}}">voir profil</a>
          <a class="btn btn-warning" href="/update/{{pers.id}}">modifier</a>
      </li>
  {% endfor %}
  </ul>
  <form class="container" action="/mon_form" method="POST">

      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" name="nom" placeholder="Entrez votre nom">
      </div>


      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" name="email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="pwd" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>